nav.navbar.sticky-top.navbar-expand-lg.navbar-dark.bg-dark
    a.navbar-brand()
        img.d-inline-block.align-top(src='./images/ecom1.jpg' width='30' height='30' alt='') 

    .container
        .container
        .container#containerid1
        .container
            .row
                .col-4

                    a.navbar-brand.text-white(id ='home' onclick='page(id);')
                        span.glyphicon.glyphicon-user
                            |  HOMEPAGE
                .col-4
                    a.navbar-brand.text-white(id='wishlist' onclick='page(id);')
                        span.glyphicon.glyphicon-user
                            |  WISHLIST
                .col-3
                    a.navbar-brand.text-white(id='cart' onclick='page(id);')
                        span.glyphicon.glyphicon-user
                            |  CART

