doctype html  
html  
    head  
        title A simple pug example  
    body  
        h1 This page is produced by pug template engine  
        p some paragraph here..

//- server.js
//- //set view engine  
//- app.set("view engine","pug")  
//- app.get('/', function (req, res) {  
//- res.render('view.pug', index);  
//-  res.render('index');  
//- });