doctype html  
html 
body 
    a(href='/')
        button(type="button") GO TO HOMEPAGE   
    h2  WISHLIST ITEMS
    each index,val in wishlistdata       
        a(href='/product/'+ index.id)
            img(src=index.path alt="camera" style='width:100px;height:100px;')
        div Product Name:   #{index.name}
        div Price:   #{index.price} 
        h2        